article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

.container {
  max-width: 720px;
  margin: 0 auto; }

#content {
  padding-left: 20px;
  padding-right: 20px; }

.navbar {
  background: #fafafa;
  border-bottom: 1px solid #f6f6f6;
  line-height: 40px;
  margin-bottom: 40px;
  padding: 8px 20px; }
  .navbar a {
    color: #333; }
    .navbar a:hover {
      color: #157AB5; }

.navbar-title {
  font-size: 1.2em;
  float: left;
  line-height: 40px;
  margin: 0; }
  .navbar-title > a {
    color: #157AB5; }

.navbar-title-mobile {
  display: none; }

@media screen and (max-width: 720px) {
  .navbar-title-desktop {
    display: none; }

  .navbar-title-mobile {
    display: block; } }
.navbar-subtitle {
  display: none;
  font-size: 1em;
  margin-top: 0; }

.navbar-menu {
  float: right; }

.navbar-item {
  margin: 0 6px; }

.navbar-item-highlight.navbar-item-highlight {
  background: #F0A227;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .navbar-item-highlight.navbar-item-highlight:hover {
    color: #fff; }
  .navbar-item-highlight.navbar-item-highlight:active {
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1); }

.navbar-page {
  text-align: center; }
  .navbar-page .navbar-title {
    display: none; }
  .navbar-page .navbar-menu {
    float: none; }

@media screen and (max-width: 720px) {
  .navbar {
    font-size: 0.75em; }

  .navbar-item {
    margin: 0 4px; }

  .navbar-item-highlight.navbar-item-highlight {
    padding-left: 10px;
    padding-right: 10px; } }
.header {
  padding-left: 20px;
  padding-right: 20px; }

.header-title,
.page-title {
  font-size: 2.33em;
  margin: 8px 0 14px; }

.header-subtitle {
  border-bottom: 2px dotted #e9e9e9;
  font-size: 1.2em;
  margin-top: 14px;
  margin-bottom: 20px;
  padding-bottom: 40px; }
  .header-subtitle > a {
    color: #333; }

#footer {
  background: #333;
  font-size: 0.8em;
  color: #a6a6a6;
  overflow: hidden;
  margin-top: 40px;
  padding: 20px; }

#footer .about > p:first-child {
  color: #fff;
  font-size: 1.2em;
  padding-bottom: 20px;
  margin-bottom: 20px; }

#footer .about > p:first-child,
#footer .about > p:last-child {
  border-bottom: 1px dotted #999999;
  padding-bottom: 20px; }

#footer .quote {
  margin-top: 40px;
  text-align: center; }

html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.7; }

a {
  color: #157AB5;
  text-decoration: none; }
  a:hover {
    color: #105b87; }
  a.inverse, #footer a {
    color: #e0e0e0;
    border-bottom: 1px dotted #e0e0e0; }
    a.inverse:hover, #footer a:hover {
      color: #c7c7c7;
      border-bottom-color: #c7c7c7; }

.link-hint, .post-tags > a, .post-footer .more {
  border-bottom: 1px dotted #e7e7e7; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Georgia, serif;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 2em; }

hr {
  border-top: 1px solid #e9e9e9;
  border-bottom: 0; }

.lead {
  font-size: 1.2em; }

.lead-md {
  font-size: 1.1em; }

blockquote {
  border-left: 4px solid #e9e9e9;
  color: #545454;
  margin-left: 20px;
  padding-left: 20px; }

table th {
  text-align: left; }

#post pre {
  font-family: "Courier New", monospace;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  background-color: #fafafa;
  padding: .3em .6em;
  overflow: auto; }

code {
  border: 1px solid #e9e9e9;
  font-family: "Courier New", monospace;
  background-color: #fafafa;
  border-radius: 4px;
  padding: 0.2em 0.3em;
  overflow: auto; }

pre code {
  border: none;
  padding: 0; }

.split-summary > .post > p {
  margin-top: 4px; }

@media screen and (min-width: 720px) {
  .split-summary {
    margin-left: -10px;
    margin-right: -10px; }
    .split-summary .post {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      width: 50%; }
      .split-summary .post:nth-child(odd) {
        clear: left; } }
.pagination {
  border-top: 2px dotted #e9e9e9;
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center; }
  .pagination > li {
    display: inline-block;
    padding: 6px; }
  .pagination .selected > a {
    color: #bbb; }

.post {
  margin-bottom: 20px; }

.post-title {
  margin-top: 20px;
  margin-bottom: 8px; }

.post-meta,
.post-footer {
  color: #bbb;
  font-size: 0.8em;
  text-transform: uppercase; }

.post-tags {
  display: inline-block; }

#related {
  margin: 40px 0; }

.img-wrap {
  text-align: center; }

.img {
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 0.6em;
  margin: 0 auto; }
  .img > img {
    vertical-align: middle; }

.img div {
  font-size: .8em;
  font-style: italic;
  line-height: 1.33;
  margin-top: 8px; }

span.done {
  text-decoration: line-through; }

.revue-embed {
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 2em 0;
  padding: 1.5em;
  margin-left: -1.5em; }
  .revue-embed .revue-headline {
    color: #E15718;
    font-size: 1.6em;
    margin-top: 0;
    padding-top: 0; }
  .revue-embed .revue-text {
    margin-bottom: 0; }
  .revue-embed .revue-form-group, .revue-embed .revue-form-actions {
    display: inline-block; }
  .revue-embed .revue-form-field {
    margin: .3em .6em .3em 0; }
  .revue-embed .revue-form-submit {
    border: 0px none;
    background: #F0A227;
    border-radius: 4px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    display: inline-block;
    margin-top: 1em;
    padding: 6px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .revue-embed .revue-form-submit:hover {
      color: #fff; }
    .revue-embed .revue-form-submit:active {
      box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1); }

.cf:before, .navbar:before, .split-summary:before,
.cf:after,
.navbar:after,
.split-summary:after {
  content: " ";
  display: table; }

.cf:after, .navbar:after, .split-summary:after {
  clear: both; }

.clear {
  clear: both; }
