#footer {
    background: #333;
    font-size: $font-size-sm;
    color: lighten($gray-light, 5%);
    overflow: hidden;
    margin-top: $padding * 2;
    padding: $padding;

    a {
        @extend .inverse;
    }
}

#footer .about > p:first-child {
    
    color: #fff;
    font-size: $font-size-lg;
    padding-bottom: $padding;
    margin-bottom: $padding;
}
#footer .about > p:first-child,
#footer .about > p:last-child {
    border-bottom: 1px dotted $gray-light;
    padding-bottom: $padding;
}

#footer .quote {
    margin-top: $padding * 2;
    text-align: center;
}
