.post {
    margin-bottom: $padding;
}

// Post Header
.post-title {
    margin-top: $padding;
    margin-bottom: $padding-y;
}

.post-meta,
.post-footer {
    color: $muted;
    font-size: $font-size-sm;
    text-transform: uppercase;
}

.post-tags {
    display: inline-block;

    > a {
        @extend .link-hint;
    }
}

// Post footer
.post-footer {
    .more {
        @extend .link-hint;
    }
}

// Related
#related {
    margin: ($padding * 2) 0;
}

// Images
.img-wrap {
    text-align: center;
}

.img {
    background: $bg-alt;
    border-radius: $border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 0.6em;
    margin: 0 auto;

    > img {
        vertical-align: middle;
    }
}

.img div {
    font-size: .8em;
    font-style: italic;
    line-height: 1.33;
    margin-top: $padding-y;
}

span.done {
    text-decoration: line-through;
}
