.post {
    margin-bottom: $padding;
}

// Post Header
.post-title {
    margin-top: $padding;
    margin-bottom: $padding-y;
}

.post-meta,
.post-footer {
    color: $muted;
    font-size: $font-size-sm;
    text-transform: uppercase;
}

.post-tags {
    display: inline-block;

    > a {
        @extend .link-hint;
    }
}

// Post footer
.post-footer {
    .more {
        @extend .link-hint;
    }
}

// Related
#related {
    margin: ($padding * 2) 0;
}

// Images
.img-wrap {
    text-align: center;
}

.img {
    background: $bg-alt;
    border-radius: $border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 0.6em;
    margin: 0 auto;

    > img {
        vertical-align: middle;
    }
}

.img div {
    font-size: .8em;
    font-style: italic;
    line-height: 1.33;
    margin-top: $padding-y;
}

span.done {
    text-decoration: line-through;
}

.revue-embed {
    background: $bg-alt;
    border-radius: $border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 2em 0;
    padding: 1.5em;
    margin-left: -1.5em;

    .revue-headline {
        color: $revue-color;
        font-size: 1.6em;
        margin-top: 0;
        padding-top: 0;
    }

    .revue-text {
        margin-bottom: 0;
    }

    .revue-form-group, .revue-form-actions {
        display: inline-block;
    }

    .revue-form-field {
        margin: .3em .6em .3em 0;
    }

    .revue-form-submit {
        border: 0px none;
        background: $warning;
        border-radius: $border-radius;
        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
        color: #fff;
        display: inline-block;
        margin-top: 1em;
        padding: $padding-x-sm $padding-x-lg;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

        &:hover {
            color: #fff;
        }

        &:active {
            box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
        }
    }
}