{% extends "base.html" %}

{% set page_title = 'Home' %}

{% block content %}
<div class="split-summary">
  {% for article in articles_page.object_list %}
  <div class="post {{ loop.cycle('first', 'last') }}">
    <h2 class="post-title">
        <a href="/{{ article.url }}" rel=bookmark title="Permalink to {{ article.title }}">{{ article .title|truncate(length=100) }}</a>
    </h2>
    {{ article.summary }}
    <div class="post-footer">
      <a class="more" href="{{ article.url }}" title="Read post">Read it</a>
      &ndash;
      <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%d %b %Y') }}</time>
      {# NOTE: could use article.locale_date #}
    </div>
  </div>
  {% endfor %}
  <br class="clear"/>
</div>
{% include 'pagination.html' %}
{% endblock content %}
